// body{
//     font-family: "Noto Serif Tc",serif;
//     line-height: 1.5;
// }

.lato-font{
    font-family: "Lato",sans-serif;
}

img{
    max-width: 100%;
    height: auto;
}

a{
    // text-decoration: none; //更改變數link-decoration
    color:inherit;
    display: inline-block;
}
h1,h2,h3,h4,h5,h6{
    letter-spacing: 0.1em;
    // margin: 0; 
    //更改變數margin bottom 和下一個頭有headings的
}

p{
    letter-spacing: 0.05em; //5%,可以跟著文字縮放大小
    // margin: 0; 
}

.pt-sm-11{
    padding-top:150px;
}