// body{
//     font-family: "Noto Serif Tc",serif;
//     line-height: 1.5;
// }

.lato-font{
    font-family: "Lato",sans-serif;
}
img{
    max-width: 100%;
    height: auto;
}
ul,li{
    list-style: none;
}
a{
    // text-decoration: none; //更改變數link-decoration
    color:inherit;
    display: inline-block;
}
h1,h2,h3,h4,h5,h6{
    letter-spacing: 0.1em;
    // margin: 0; 
    //更改變數margin bottom 和下一個頭有headings的
}

p{
    letter-spacing: 0.05em; //5%,可以跟著文字縮放大小
    // margin: 0; 
}

.pt-sm-11{
    padding-top:250px;
}
.text-special{
    color: #569573;
  }
@media(min-width: 768px) { 
    .border-bottom-lg{
        border-bottom: 1px solid $gray-500;
    }
    
 }
 
 @media(min-width: 992px){
    .text-special{
        color: #6E6B67; 
    }
    .fw-lg-semibold{
        font-weight: 600;
    }
  }