.btn-square{
    padding-top: 12px;
    padding-bottom: 12px;
    color:#6C757D;
    font-weight: 600;
    display: block;
    text-align: center;
    &:hover{
        background-color: #569573;
        color:$white;
    }
    &.active{
        background-color:#569573;
        color:$white;
    }
}